 <div xmlns:th="http://www.thymeLeaf.org" class="container-fluid pt-4 px-4">
 <style>
  th, td{
text-align: center;
justify-content: center;

 }
 </style>
 
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Thể Loại Sách</h6>
                         <div>
                       <a type="button" th:href="@{/admin/themtheloaimoi}" class="btn btn-outline-success m-2">Thêm Mới</a>
                       <a type="button" class="btn btn-outline-primary m-2">Xóa</a>
                       </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    
                                    <th scope="col">ID</th>
                                    <th style="width:200px" scope="col">Tên Thể Loại</th>
                                    <th scope="col">Mô Tả</th>
                                    <th scope="col">Ảnh Bìa</th>
                                    <th style="width:200px" scope="col">Cập Nhật</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="theloai:${listtheloai}">
                                    
                                    <td th:utext="${theloai.id}"></td>
                                    <td th:utext="${theloai.tentheloai}"></td>
                                    <td style="text-align: left;"><p th:utext="${theloai.mota}"></p></td>
                                    <td><img style="width: 90px; height: 60px;" th:src="@{'/images/theloai/'+${theloai.id}+'/'+${theloai.anh}}"/></td>
                                    <td><a th:href="@{'/admin/capnhattheloai/'+${theloai.id}}" class="btn btn-outline-info m-2" href="">Cập Nhật</a>
                                    <a
							type="button" th:href="@{'/admin/xoatheloai/'+${theloai.id}}"
							onclick="return confirm('Bạn có chắc chắn muốn xóa')"
							class="btn btn-outline-primary m-2">Xóa</a>
                                    </td>
            
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>