<div xmlns:th="http://www.thymeLeaf.org" class="container-fluid pt-4 px-4">
<div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Phản Hồi Của Khách Hàng</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                       
                                        <th scope="col">Người Nhắn</th>
                                        <th scope="col">Thời Gian</th>
                                        <th scope="col">Xem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item:${listphanhoi}">
                                       
                                        <td><a th:href="@{'/admin/profile/'+${item.idkhachhang}}" th:utext="${item.tenkhachhang}"></a></td>
                                        <td th:utext="${item.time}"></td>
                                        <td><a class="btn btn-outline-info m-2"
							th:href="@{'/admin/tinnhan/'+${item.id}}">Xem</a></td>
                                    </tr>
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                        </div>
                        </div>
                        </div>